/*ESTILOS SECCION DE BIENVENIDA*/

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Calibri;
}

html{
    font-size: 100%;
}

#landing-page {
    background-image: url(../img/bkimage.jpg); 
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    z-index: 1;
    background-attachment: fixed;
}

#landing-page::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4);
    z-index: -1; 
}

header{
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 15vh;
    color: white;
}



#menu-navegacion a{
    margin-left: 20px;
    margin-right: 20px;
    font-weight: 600;
    text-decoration: none;
    font-size: 1.2rem;
    color: white;
}

#logo-sena{
    width: 7%;
    border-radius: 100%;
}

#bienvenida{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 85vh;
    text-align: center;
    color: white;
}

#bienvenida article{
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
}

#bienvenida article p{
    font-size: 1.5rem;
    font-weight: 300;
    width: 50%;
    margin-top: 3%;
}

h1{
    font-size: 5rem;
    width: 60%;
}

.boton_encabezado{
    color: black;
    font-size: 1.2rem;
    font-weight: 600;
    width: 12%;
    height: 6vh;
    border-radius: 20px;
    background-color: #39A900;
    border: 2px solid black;;
}

.boton_encabezado a{
    text-decoration: none;
    color: black;
}

#bienvenida article button{
    color: black;
    font-size: 1.2rem;
    font-weight: 600;
    width: 12%;
    height: 6vh;
    border-radius: 20px;
    background-color: #39A900;
    border: 2px solid black;
    margin-top: 3%;
}

/*ESTILOS SECCION DE FUNCIONALIDADES*/

#funcionalidades{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    min-height: 100vh; 
    width: 100%;
    text-align: center;
}

#funciones{
    font-size: 3.5em;
    font-weight: 600;
}

#descripcion-funciones{
    color: gray;
    font-weight: 400;
    font-size: 1.2em;
}

.iconos-funcionalidad{
    width: 18%;
    margin-bottom: 20px;
    background-color: #38a9009d;
    padding: 5px;
    border-radius: 1em;
}

.content-funcionalidad{
    display: flex;
    margin-top: 2%;
    justify-content: space-around;
    align-items: center;
}

.content-funcionalidad article h3{
    font-size: 1.5em;
}

.content-funcionalidad article p{
    text-align: justify;
    font-size: 1.25em;
}

.contenedores{
    text-align: left;
    margin: 2% 5% 2% 5%;
    border-radius: 20px;
    border:  2px solid white;
    padding: 20px;
    box-shadow: 5px 5px 10px 5px rgba(128, 128, 128, 0.378);
    width: 18%;
}

/*ESTILOS SECCION DE PERFILES*/

#team-development{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    height: 100vh;
    background-image: url(../img/fondo-seccion-equipo.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

#titulo-equipo{
    font-size: 3.5em;
    padding-bottom: 0.7em
}

.foto-user{
    width: 6em;
    background-color: #39A900;
    padding: 0.5em;
    border-radius: 100%;
    margin-bottom: 0.5em;
}

#content-team{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 90%;
    height: 20em;
}

.tarjeta-equipo{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    border: solid white 1px;
    box-shadow: 5px 5px 10px 5px rgba(128, 128, 128, 0.432);
    width: 20%;
    height: 85%;
    border-radius: 2em;
    padding: 1.5em;
    background-color: rgba(255, 255, 255, 0.788);
}

.tarjeta-equipo h3{
    font-size: 1.5em;
}

.tarjeta-equipo p{
    font-size: 1.2em;
}

/*ESTILOS SECCION DE OFERTA Y PIE DE PAGINA (FOOTER)*/

#propuesta-footer{
    height: 100vh;
    width: 100%;
    text-align: center;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
}

#propuesta-footer h2{
    font-size: 3.5em;
    padding-top: 4em;
}

#desc-propuesta{
    font-size: 1.6em;
    width: 70%;
}

#propuesta-footer button{
    font-size: 1.4em;
    font-weight: 600;
    width: 20%;
    background-color: #39A900;
    height: 3em;
    border-radius: 1em;
    box-shadow: 5px 5px 10px 5px rgba(128, 128, 128, 0.672);
}

#logo-sena-footer{
    width: 10em;
}

footer{
    display: flex;
    width: 100%;
    justify-content:space-between;
    align-items: center;
    text-align: center;
    border-top: gray solid 1px;
    padding: 0 3em;
}

footer #copyright{
    font-size: 1.3em;
    color: gray;
}

#menu-footer a{
    color: black;
    text-decoration: none;
    padding: 0 2em;
    font-size: 1.3em;
}