*{
    border: 1px;
    box-sizing: border-box;
    font-family: calibri;
}
body{
    background: #66d640;
    background: linear-gradient(350deg, rgba(102, 214, 64, 1) 0%, rgba(115, 255, 122, 1) 30%, rgba(255, 255,255,1)100%);
}
header{
    display: flex;
    
}
.busqueda{
    display: flex;
    align-items: center;
    width: 20%;
    font-size: 15px;
    height: 20px;
    border-radius: 15px;
    margin-left: 45%;
    margin-right: 5px;
    border: 1px solid black;
}
.titulo1{
    display: flex;
    width: 80%;
    font-size: 30px;
    align-items: center;
}
img{
    width: 10%;
    border-radius: 50%;
}
.barras{
    display: flex;
    align-items: center;
    justify-content:center ;
}
.p1:hover{
    display: flex;
    gap:10px;
    border-radius: 15px;
    background-color: #22c55e;
    transition: 0.5s;
    cursor: pointer;
}
main{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
}
.cuadro1{
    margin: 20px;
    border-radius: 15px;
    border: 1px solid black;
    box-shadow: 5px 5px 10px rgb(67, 66, 66);
    background-color: #ffffff;
}
.titulos{
    font-size: 20px;
    margin-top: 5px;
    margin-left: 5px;
}
.descripciones{
    margin-left: 5px;
}
.botones{
    display: flex;
    align-items: center;
    justify-content: center;
}
.final{
    width: 80%;
    color: rgb(38, 208, 38);
}
.final2{
    color: rgb(230, 60, 26);
    width: 80%;
}
.button1:hover{
    background-color: #22c55e;
    transition: 0.5s;
    gap: 15px;
    height: 20px;
    width: 20%;
    border-radius: 20px;
}
hr{
    border: 1px solid black;
}
footer{
    background-color: #ffffff;
    border-radius: 15px;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-top: 1px #b5b3b3;
    box-shadow: inset 0 0 10px rgb(67, 66, 66);;
}
.acciones{
    display: flex;
    align-items: center;
    gap: 15px;
}

.filtros:hover{
    border-radius: 15px;
    background-color: #22c55e;
    transition: 0.5s;
    cursor: pointer;
}
.img2{
    height: 15px;
    width: 20px;
}
.filtros2{
    display: flex;
    align-items: center;
    gap: 5px;
    font-size: 0.9rem;
    cursor: pointer;
}
.accciones2{
    display: flex;
    gap: 10px;
}
.accion1:hover{
    border-radius: 15px;
    background-color: #22c55e;
    transition: 0.5s;
    cursor: pointer;
}

.accion2:hover{
    border-radius: 15px;
    background: #22c55e;
    transition: 0.5s;
    cursor: pointer;
}

