*{
    border: 1px ;
    box-sizing: border-box;
}
main{
    width: 100%;
    height: 100vh;
    display: flex;
}
picture{
    display: flex;
    justify-content: start;
}
img{
    border-radius: 200px;
    width: 250px;
}
article{
    width: 30%;
    margin-left: 30px;
}
h1{
    font-size: 25px;
}
.ul1{
    border-top: 10px;
}
.boton{
    display: flex;
    justify-content: end;
    width: 70%;
}
button{
    height: 40px;
    margin-top: 20px;
    margin-right: 50px;
    border-radius: 50px;
}