* {
    box-sizing: border-box;
    font-family: calibri;
}

body {
    background: #fff;
    margin: 0;
    min-height: 100vh;
    display: flex;
    
}
.barralateral{
    width: 20%;
    background: #13db0f ;
    margin: 10px;
    display: flex;
    justify-content: center;
}
nav{
    display: flex;   
    flex-direction: column;
    align-items: center;
    gap: 20px;
}
.conjunto{
    width: 80%;
}
header {
    display: flex;
    align-items: center;
    padding: 10px;
}

.busqueda {
    margin-left: auto;
    width: 20%;
    border-radius: 15px;
    padding: 5px;
    border: 1px solid black;
    cursor: pointer;
}

.titulo1 {
    font-size: 30px;
    width: 80%;
    margin-left: 10px;
}

img {
    width: 10%;
    border-radius: 50%;
}

.barras {
    display: flex;
    justify-content: center;
    gap: 10px;
}

.p1:hover {
    background: linear-gradient(350deg, #66d640 0%, #73ff7a 30%, #fff 100%);
    border-radius: 15px;
    cursor: pointer;
}

.activo:hover{
    background: linear-gradient(350deg, #66d640 0%, #73ff7a 30%, #fff 100%);
    border-radius: 15px;
    cursor: pointer;
}
main{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    flex: 1;
}

.cuadro1 {
    background:linear-gradient(350deg, #66d640 0%, #73ff7a 30%, #fff 100%);
    margin: 20px;
    padding: 10px;
    border-radius: 15px;
    box-shadow: 5px 5px 10px #444;
    max-width: 340px;
    width: 100%;
    height: fit-content;
    cursor: pointer;
}

.cuadro1:hover{
    transform: translateY(-5px);
    transition: 0.3s;
}


.final {
    color: green;
}

.final2 {
    color: red;
}

footer {
    background: #fff;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    box-shadow: inset 0 0 10px #444;
    margin: 10px;
    border-radius: 10px;
}

.modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, .5);
    display: flex;
    align-items: center;
    justify-content: center;
}

.modal-contenido {
    background: #fff;
    padding: 20px;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 300px;
}

.oculto {
    display: none;
}

button{
    cursor: pointer;
}
