*{
    border: 1px;
    box-sizing: border-box;
    font-family:Calibri;
}
main{
    display: flex;
}
header{
    background-color: rgb(30, 213, 30);
    display: flex;
    flex-direction: column;
    align-items: center;
}
.img1{
    width: 40%;
    border-radius: 50%;
    margin-top: 10px;
}
.p1{
    font-size: 30px;
}
.p2{
    border-radius: 10%;
    margin-bottom: 35px;
    font-size: 20px;
    cursor: pointer;
}
article{
    display: flex;
}